.users__wrapper {
    display: flex;
    justify-content: center;
}
.users {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heading {
    font-weight: 400;
}
.list {
    display: flex;
    flex-wrap: wrap;
}
.list_item{
    border:1px solid #dddddd;
    width: 260px;
    padding: 10px;
    padding-right: 0;
    margin-right: 18px;
    margin-bottom: 18px;
    animation: fade 1s ease-in-out;
}
.username {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 400;
    padding-right: 10px;
}
.description {
    margin: 0;
    margin-bottom: 8px;
}
.latest_img_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.latest_img_item {
    margin-bottom: 8px;
}
@keyframes fade{
    0% {opacity: 0;}
    100% {opacity: 1;}
}